<div class="session-wrapper">
  <h1>Login</h1>
  
  <div class="login-form">
    <div class="form-group">
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="control">
          <p><%= f.label :email, class: "form-label" %></p>
          <%= f.email_field :email, class: "form" %>
        </div>
        
        <div class="control">
          <p><%= f.label :password, class: "form-label" %></p>
          <p><%= link_to "(forgot password)", new_password_reset_path , class: "forget-password" %></p>
          <%= f.password_field :password, class: "form" %>
        </div>
        
        <div class="control">
          <%= f.label :remember_me, class: "checkbox" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>
        </div>
        
        <%= f.submit "Login", class: "btn btn-login" %>
      <% end %>
      
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
