<div class="edit-user-wrapper">
  <div class="container">
    <h1>Update your profile</h1>
  </div>
  
  <div class="edit-form">
    <div class="form-group">
      <%= form_for(@user) do |f| %>
        <%= render "shared/error_messages" %>
        
        <div class="control">
          <p><%= f.label :name, class: "form-label" %></p>
          <%= f.text_field :name, class: "form" %>
        </div>
        
        <div class="control">
          <p><%= f.label :email, class: "form-label" %></p>
          <%= f.text_field :email, class: "form" %>
        </div>
        <div class="control">
          <p><%= f.label :password, class: "form-label" %></p>
          <%= f.password_field :password, class: "form" %>
        </div>
        <div class="control">
          <p><%= f.label :password_confirmation, "Confirmation", class: "form-label" %></p>
          <%= f.password_field :password_confirmation, class: "form" %>
        </div>
        
        <%= f.submit "Changes", class: "btn" %>
      <% end %>
    </div>
  </div>
</div>